body {
    font-family: "Tahoma", sans-serif;
    background-color: peachpuff;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header {
    font-size: 32px;
    background-color: palevioletred;
    color: aliceblue;
    font-weight: 650;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 18px;
}

.intro {
    display: flex;
    align-items: stretch;
    font-weight: 600;
    font-size: 20px;
    margin: 0 5%;
    gap: 3%;
    justify-content: stretch;
    align-items: center;
}

.ment {
    width: 60%;
    background-color: indianred;
    color: aliceblue;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
}

.rules {
    background-color: aliceblue;
    color: indianred;
    padding: 30px;
    width: 40%;
    border-radius: 30px;
    text-align: center;
}

ul {
    text-align: start;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 0 5%;
}

.btn {
    background-color: rosybrown;
    color: aliceblue;
    font-weight: 600;
    font-size: 30px;
    padding: 18px 36px;
    width: 120px;
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
}

.score {
    display: flex;
    gap: 5%;
    justify-content: center;
}

.user, .computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    width: 400px;
    background-color: palevioletred;
    border-radius: 30px;
    margin-bottom: 40px;
    gap: 5px;
}

.user {
    margin-left: 5%;
}

.computer {
    margin-right: 5%;
}

#user-head, #computer-head {
    background-color: aliceblue;
    padding: 10px 0 10px;
    color: palevioletred;
    font-weight: 700;
    border-radius: 30px;
    font-size: 24px;
    width: 230px;
    text-align: center;
}


#user-score, #computer-score {
    font-size: 50px;
    color: aliceblue;
    background-color: palevioletred;
    font-weight: 800;
}